<%= simple_form_for(@brand) do |f| %>
  <%= f.error_notification %>
  <div class="container lefted form-inputs">
    <%= f.input :name %>
  </div>



   <div class="form-actions">
    <%= f.button :submit, class: 'btn btn-success' %>
   </div>
  </div>
<% end %>
