<div class="container" style="text-align: left;">
<h1>New Brand</h1>

<%= render 'form', brand: @brand %>

<h3>
 <strong>Prodycts By:</strong>
</h3>

<ul>
 <% @brand.products.order('name').each do |products_by| %>
  <li> <%= link_to products_by.name, products_path(products_by) %></li>
  <% end %>
</ul>

</div>

<div class="container" style="text-align: left;">
<%= link_to 'Back', brands_path, class: "btn btn-danger" %>
</div>
