<div class="container" style="text-align: left;">
<h1>New Brand</h1>

<%= render 'form', brand: @brand %>

</div>

<div class="container" style="text-align: left;">
<%= link_to 'Back', brands_path, class: "btn btn-danger" %>
</div>
