<div class="container" style="text-align: left;">
<h1>Editing Category</h1>
</div>
<%= render 'form', category: @category %>
<div class="container" style="text-align: left;">
  <div class="btn-group" role="group" aria-label="..">
    <button type="button" class="btn btn-default"><%= link_to 'Show', @category %></button>
    <button type="button" class="btn btn-danger"> <%= link_to 'Back', categories_path %></button>
  </div>
</div>